In [59]:
import pandas as pd
df=pd.read_csv('buy_product.csv')
print(df.describe())
df.head(15)

           age  income student credit_rating  buy
count       14      14      14            14   14
unique       3       3       2             2    2
top     senior  medium     yes          fair  yes
freq         5       6       7             8    9

            age  income student credit_rating  buy
0         youth    high      no          fair   no
1         youth    high      no     excellent   no
2   middle_aged    high      no          fair  yes
3        senior  medium      no          fair  yes
4        senior     low     yes          fair  yes
5        senior     low     yes     excellent   no
6   middle_aged     low     yes     excellent  yes
7         youth  medium      no          fair   no
8         youth     low     yes          fair  yes
9        senior  medium     yes          fair  yes
10        youth  medium     yes     excellent  yes
11  middle_aged  medium      no     excellent  yes
12  middle_aged    high     yes          fair  yes
13       senior  medium      no     excellent   no

In [60]:
x=df.drop(columns=['buy'])
y=df['buy']

In [61]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
oe.fit(x)
x=oe.transform(x)

print(x)

[[2. 0. 0. 1.]
 [2. 0. 0. 0.]
 [0. 0. 0. 1.]
 [1. 2. 0. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 0.]
 [0. 1. 1. 0.]
 [2. 2. 0. 1.]
 [2. 1. 1. 1.]
 [1. 2. 1. 1.]
 [2. 2. 1. 0.]
 [0. 2. 0. 0.]
 [0. 0. 1. 1.]
 [1. 2. 0. 0.]]

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.08)

In [63]:
from sklearn.svm import SVC
test = SVC()
test.fit(x_train, y_train)
predictions = test.predict(x_test)

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, predictions)

print("x_test:\n",x_test)
x_test = oe.inverse_transform(x_test)
print("x_test(inversed):\n",x_test)
print("y_test:\n",y_test)
print("Accuracy Score=", score * 100, "%")

x_test:
 [[0. 0. 1. 1.]
 [1. 1. 1. 0.]]
x_test(inversed):
 [['middle_aged' 'high' 'yes' 'fair']
 ['senior' 'low' 'yes' 'excellent']]
y_test:
 12    yes
5      no
Name: buy, dtype: object
Accuracy Score= 50.0 %